body{
  background-color: aliceblue;
}
 #game{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: royalblue;
  height: auto;
  width: 100%;
  border-radius: 5px;
}
.row{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: aliceblue;
  margin: 5px;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}